@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Figtree', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.card {
  padding: 24px;
  background-color: #fff;
  border-radius: 20px;
  border: #111 1px solid;
  box-shadow: 8px 8px #000;
  margin-bottom: 16px;
  max-width: 384px;
}

.image {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 24px;
  width: 100%;
  height: 200px;
}

.image img {
  width: 100%;
  height: auto;
}

.tag {
  background-color: #f4d04e;
  border-radius: 4px;
  padding: 4px 12px;
  display: inline-block;
  margin-bottom: 12px;
}

.tag p {
  font-size: 14px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0;
  color: #111;
}

.date {
  font-size: 14px;
  font-weight: medium;
  line-height: 150%;
  letter-spacing: 0;
  margin-bottom: 12px;
  color: #111;
}

.title {
  margin-bottom: 12px;
  display: inline-block;
}

.title h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0;
  color: #111;
  transition: color 0.1s;
}

.title h3:hover {
  cursor: pointer;
  color: #f4d04e;
}

.blog-preview {
  margin-bottom: 24px;
}

.blog-preview p {
  font-size: 16px;
  font-weight: medium;
  line-height: 150%;
  letter-spacing: 0;
  color: #6b6b6b;
}

.author {
  display: flex;
  align-items: center;
}

.author .avatar {
  height: 32px;
  width: 32px;
  margin-right: 12px;
}

.author .avatar img {
  width: 100%;
}

.author .name p {
  font-size: 14px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0;
  color: #111;
}

@media (max-width: 400px) {
  body {
    padding: 0 24px;
  }
}
